.tickers {
    display: flex;
    text-align: center;
    border-bottom: 1px solid black;
    width:100%;
    .ticker {
        flex: 3;
        border-left: 1px solid black;
    }
    .exchange {
        flex: 2;
        border-left: 1px solid black;
    }
    .price {
        flex: 2;
        border-left: 1px solid black;
    }
    .changePos {
        color:rgb(106, 186, 106);
        flex: 2;
        border-left: 1px solid black;
    }
    .changeNeg {
        flex: 2;
        color:rgb(198, 49, 49);
        border-left: 1px solid black;
    }
    .change_percent {
        flex: 2;
        border-left: 1px solid black;
    }
    .last_trade_time {
        flex: 4;
        border-left: 1px solid black;
    }
    .dividend {
        flex: 2;
        border-left: 1px solid black;
    }
    .yield {
        flex: 2;
        border-left: 1px solid black;
    }
}